.footerContainer {
    background-color: #242424;
    padding: 15vh 5vh 5vh 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.logoWebRights {
    color: #fff;
    margin-bottom: 16px;
    width: 80%;
}
.footerLogo:hover {
    color: rgb(100, 255, 218);

}
.webRights{
    text-align: center;
}
  @media screen and (max-width: 820px) {
    .footerLinks {
      padding-top: 2rem;
    }
  
    .footerInput {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footerLinkWrapper {
      flex-direction: column;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .webRights{
      font-size: 12px;
    }
  }
  