.navbar {
    background-color: black;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    position: relative;
}

  .logo {
    color: #fff;
    left: 200px;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
.logo:hover{
    color: rgb(100, 255, 218);
}
.lang{
    /* background-color: red; */
    color: white;
    display: flex;
    position: absolute;
    left: 50px;
    margin:0 10px;
}
.lang:hover{
    cursor: pointer;
}
  .menu {
    display: flex;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: end;
    margin-right: 10px;
  }
.menu li {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.menu li:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-shadow: 2px 2px 2px rgb(100, 255, 218);
}  
.menuIcon {
    display: none;   
}

@media screen and (max-width: 960px) {
    .lang {
        /* display: flex; */
        /* position: absolute; */
        /* margin:0 auto; */
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        transition: all 0.5s ease;
        /* background: #242222; */
        height: 88vh;
        margin-top: -6px;
        background-color: black;
        z-index: 10;
    }
    
    .menu.active {
        height: 88vh;
        left: 0;
        /* opacity: 1; */
        transition: all 0.5s ease;
        z-index: 4;
    }

    .menu li {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        /* background-color: wheat; */
        margin-left: -20px;
    }

    .menuIcon {
        color: white;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .logo{
        display: none;
    }
}
  