.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    position: relative;
    direction: ltr !important;
    width: 100%;
    z-index: 50;
}
.lang{
    color: beige;
    display: flex;
    position: absolute;
    /* left: 10%; */
    margin-left: 10%;
    transition: 1s;
    font-size: 20px;
}
.lang:hover{
    cursor: pointer;
    /* box-shadow: 2px 2px 2px 2px rgb(100, 255, 218); */
    transform: scale(1.1);
}
.flag{
 /* width: 90px; */

}
.menu {
    display: flex;
    list-style: none;
    text-align: center;
    width: 600px;
    justify-content: flex-end;
    /* background-color: blue; */
    margin-right: 10%;
}
.menu li {
    color: beige;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin: 0 10px; */
    transition: 1s ;
    height: 70px;
}
.menu li:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(100, 255, 218);
    transform: scale(1.1);
}  
.menuIcon {
    display: none;   
}

@media screen and (max-width: 760px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 88vh;
        position: absolute;
        top: 80px;
        top: -700%;
        transition: all 1s ease;
        margin-top: 0;
        background-color: transparent;
    }
    .menu.active {
        top: 80px;
        background-color: rgba(0, 0, 0, 0.938);
    }

    .menu li {
        text-align: center;
        padding: 2rem 0;
        width: 100%;
        display: table;
        /* background-color: wheat; */
        margin-left: -20px;
    }
    .menu li:hover{
        transform: scale(1);
    }

    .menuIcon {
        color: beige;
        display: block;
        position: absolute;
        /* top: 0; */
        /* background-color: bisque; */
        right: 10%;
        /* transform: translate(-100%, 60%); */
        font-size: 1.8rem;
        cursor: pointer;
    }
    .logo{
        display: none;
    }
    .lang{
        /* background-color: violet; */
    }
    .flag{
    }
}
  