.project{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 3px 2px 5px rgb(43, 139, 117);
    list-style-type: none;
    margin: 20px;
}
.picDiv{
    position: relative;
}
.projectPic{
    opacity: 0.3;
    display: inline-block;
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 10px 10px 0 0; 
}
.projectPic:hover{
    cursor:pointer;
}
.projectPic:checked{
    opacity:1;
}
.paly i{
    color: rgb(0, 0, 0);
    font-size: 32px;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.paly i:hover{
    color: rgb(43, 139, 117);
}
.projectName{
    background-color: rgb(91, 91, 235);
    padding:5px 10px;
    border-radius: 0 10px 0 0 ;
    position: absolute;
    bottom: 5px;
    /* z-index: 2; */
    background-color: transparent;
    box-shadow: 2px 3px 2px blue;
}
.projectsInfo{
    /* width: 90%; */
    padding: 10px;
    height: 200px;
    position: relative;
}
.projectText{
    height: 50%;
    text-align:justify;
    overflow-y: auto;
}
.infoLinks {
    display: flex;
    justify-content: space-around;
}
.infoLinks i {
    font-size: 35px;
    width: 50%;
    transition: 1s;
}
.infoLinks i:hover{
    cursor: pointer;
    color: rgb(43, 139, 117);
    transform: scale(1.2);
}
.infoLinks a{
    text-decoration: none;
    position: relative;
}
.infoLinks span{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    width: 100px;
    padding: 5px 0;
    bottom: 105%;
    left: 20px;
    text-align: center;
}
.infoLinks>  a:hover span{
    display: inline;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .project{
        /* height: 500px; */
    }
}

@media screen and (max-width: 500px) {
    .project{
        margin: 20px auto;
        width: 95%;
        height: 80%;
    }
}
.show{
opacity: 1;
}
.hide{
    opacity: 0.2;
}