.social{
    position: fixed;
    left: 0;
    z-index: 3;
    top: 50vh;
    animation:  fadeIn 4s;
    margin: 0;
    /* background-color: blue; */
    width: 70px;
    padding: unset;
}
@keyframes fadeIn {
    0% {top: 100vh;}
    100% {top: 50vh;}
} 
.social li{
    list-style-type: none;
    font-size: 40px;
    transition: margin 0.5s;
    /* background-color: blueviolet; */
}
.social li:hover{
    /* width: 30px; */
    /* width: 70px; */
    /* margin: 0 auto; */
}
.social li i{
    color: rgb(43, 139, 117);
    width: 70px;
    /* background-color: brown; */
    transition: 1s;
    margin: 0 auto;
    text-align: center;
}
.social li i:hover{
    transform: scale(1.2);
    width: 70px;
}
@media screen and (max-width: 768px) {
    .social{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position:static;
        width: 90%;
        /* background-color: violet;         */
        margin:10px auto;
        padding-right: -40px;
    }
    .social li{
        /* margin: 0; */
    /* width: 35px; */
    padding-left: unset;
    /* background-color: wheat; */
}
.social li:hover {
    /* padding-left: unset; */
}
.social li i{
    font-size: 35px;
    color: rgb(100, 255, 218);
    transition: 1s;
    width: 60px;
}
.social li i:hover{
    transform: scale(1.1);
}

}
@media screen and (max-width: 350px) {
    .social li i{
        font-size: 70%;
        color: rgb(100, 255, 218);
        transition: 1s;
        margin: unset;
        padding: unset;
        width: 40px;
    }
    .social li i:hover{
        transform: unset;
    }
    .social{

        margin: unset;
        padding: unset;
        right: 0;
    }
}