.social{
    position: fixed;
    left: 0;
    z-index: 3;
    top: 50vh;
    animation:  fadeIn 4s;
    width: 100px;
    padding-left: 0;
}
@keyframes fadeIn {
    0% {top: 100vh;}
    100% {top: 50vh;}
} 
.social li{
    /* background-color: turquoise; */
    /* background-color: blue; */
    list-style-type: none;
    font-size: 40px;
    margin-right: 0;
    position: relative;
    padding-left: 10px;
    transition: padding-left 1s;
}
.social li:hover{
    padding-left: 30px;
}
.social li i{
    color: rgb(43, 139, 117);
    width: 50px;
}
.social li i:hover{
    width: 100px;
}
@media screen and (max-width: 768px) {
    .social{
        display: flex;
        flex-direction: unset;
        justify-content: space-between;
        position:static;
        margin: 0 auto;
        width: 90%;
        /* background-color: violet;         */
        margin-right: 0;
    }
.social li{
    margin: 0;
    padding: 0;
    width: 35px;
    /* background-color: wheat; */
}
.social li:hover {
    padding-left: unset;
}
.social li i{
    font-size: 35px;
    color: rgb(100, 255, 218);
    transition: 1s;
}
.social li i:hover{
    transform: scale(1.1);
}

}