.container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.863);
    background:url('/assets/pic-2.jpg') no-repeat;
    background-size: cover;
  }
  
.intruduce{
  width: 80%;
  height: 600px;
  font-size: 20px;
  font-size: 1.5 rem;
  color: beige;
  font-weight:500;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  text-align: justify;
}
  .whoIAm{
    width: 100% ;
    height: 150px;
    text-align: left;
    font-size: 32px;
    color: beige;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    margin-bottom: 20vh;
  }
  .whoIAm strong{
    color: rgb(100, 255, 218);
  }
.contactMe {
  box-shadow: 2px 3px 2px 2px black;
  border-radius: 5px;
  padding: 10px;
  color: beige;
  width: 150px;
  display:block;
  text-align: center;
  transition: 1s;
  margin: 0 auto;
  width: fit-content;
}
.contactMe:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px rgb(100, 255, 218);
}
  
.about{
  width: 80%;
  color: #8892b0;
  text-align: justify; 
  margin: 100px;
  color: beige;
}
.about p{
font-size: 20px;
font-weight:500;
font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.about ul{
color: rgb(100, 255, 218);
}
.about a {
text-decoration: none;
color: rgb(100, 255, 218);
}
@media screen and (max-width: 960px) {
  .container{
    font-size: 14px;
  }
  .whoIAm{
    font-size: 14px;
  }
  .intruduce{
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .container{
    font-size: 14px;
  }
  .whoIAm{
    font-size: 14px;
    margin-bottom: 30px;
  }
  .intruduce{
    font-size: 16px;
  }
  .about p{
    font-size: 14px;
  }
}
